html, body {
    height:100%;
    padding: 0;
    margin: 0;
    color: white;
  }
html{
    background-image: url('../img/q.jpg');
    background-size: cover;
}
body {
    background: rgba(0, 0, 0, 0.466);
}
#home-content{
    text-align: center;
    padding-top: 20%;
}

a {
    color: #ff5733 
}

.btn-primary {
  background-color: #ff5733 !important; 
  border-color: #ff5733 !important;
}


.btn-primary:hover {
  background-color: #c70039 !important; 
  border-color: #c70039 !important;
}


.text-primary {

    color: #ff5733 !important; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: #000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}
.close:hover {
    color: #000;
}


.ad-banner {
    width: 100%;
    max-width: 1000px; /* можно подогнать под ширину контейнера */
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    padding: 10px;
    text-align: center;
}


.banner-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.banner-title {
    margin-top: 8px;
    font-size: 16px;
    color: #ddd;
}
